<section id="registrationPage">
  <div class="container p-5">
    <div class="row mt-5">
      <div class="col-lg-6 offset-lg-3">
        <app-message></app-message>
        <div class="card bg-light">
          <div class="card-body">
            <h1 class="page-title text-center">Register</h1>

            <br>
            <form #registerForm="ngForm">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" id="name" [(ngModel)]="formData.name" #name="ngModel"
                  required>
                <div *ngIf="name.invalid && (name.dirty || name.touched)">
                  <small *ngIf="name.errors['required']">
                    Name is required.
                  </small>
                </div>
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" id="email" [(ngModel)]="formData.email" #email="ngModel"
                  required>
                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                  <small *ngIf="email.errors['required']">
                    Email is required.
                  </small>
                  <small *ngIf="email.errors['email']">
                    Invalid Email format.
                  </small>
                </div>
              </div>

              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="isSeller" id="isSeller" [(ngModel)]="formData.isSeller"
                  #isSeller="ngModel">
                <label class="form-control-label" for="isSeller">Are you a Seller?</label>
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" [(ngModel)]="formData.password"
                  #password="ngModel" required>
                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                  <small *ngIf="password.errors['required']">
                    Password is required.
                  </small>
                </div>
              </div>

              <div class="form-group">
                <label for="passwordConfirm">Confirm Password</label>
                <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm" [(ngModel)]="formData.passwordConfirm"
                  #passwordConfirm="ngModel" required>
                <div *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)">
                  <small *ngIf="passwordConfirm.errors['required']">
                    Confirmation is required.
                  </small>
                </div>
                <small *ngIf="checkPasswords(password, passwordConfirm)">
                  Password and confirmation do not match.
                </small>
              </div>
              <button [disabled]="!registerForm.form.valid" (click)="register()" type="submit" class="btn btn-dark">Submit</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
